@inject IModalService ModalService

    <div class="simple-form">

        <div class="form-group">
            <label for="first-name">First Name</label>
            <input @bind="FirstName" type="text" class="form-control" id="first-name" placeholder="Enter First Name" />
        </div>

        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input @bind="LastName" type="text" class="form-control" id="last-name" placeholder="Enter Last Name" />
        </div>

        <button @onclick="@(() => OnSubmit.InvokeAsync($"{FirstName} {LastName}"))" class="btn btn-primary">Submit</button>
        <button @onclick="OnCancel" class="btn btn-secondary">Cancel</button>
    </div>

@code {

    [Parameter]
    public string FirstName { get; set; }

    [Parameter]
    public string LastName { get; set; }

    [Parameter]
    public EventCallback<string> OnSubmit { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }
}
